<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audiro.repository.FavoriteDestinationDao">

    <!-- FavoriteUsers 테이블 전체 검색 >> 목록보기 -->
    <select id="selectFavoriteDestination" resultType="FavoriteDestination"> 
        select fd.users_id, td.name as favoriteDestination
		from favorite_destination fd
		join travel_destination td on fd.destination_id = td.travel_destination_id
        order by fd.users_id
    </select>
    
	<!-- 찜한 여행지 전부 불러오기 -->
	<select id="selectAllOrderById" resultType="FavoriteDestinationDto">
		select f.*, t.name, t.img_url from favorite_destination f
		join travel_destination t
		on f.destination_id = t.travel_destination_id
		order by favorite_destination_id
	</select>
	<!-- 선택한 찜한 여행지만 불러오기 -->
	<select id="selectById" resultType="FavoriteDestinationDto">
		select f.*, t.name, t.img_url from favorite_destination f
		join travel_destination t
		on f.destination_id = t.travel_destination_id
		where f.favorite_destination_id = #{favorite_destination_id}
	</select>
	
</mapper>