<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audiro.repository.FavoriteUsersDao">
    
    <!-- FavoriteUsers 테이블 전체 검색 >> 목록보기 -->
    <select id="selectFavoriteUsers" resultType="FavoriteUsers"> 
        select fu.users_id, u.nickname as interestedUserNickname
        from favorite_users fu
        join users u on fu.interested_user_id = u.users_id
    </select>
    
</mapper>