<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audiro.repository.ReviewDao">
	
	<!-- 내 여행후기 전체 불러오기 (최신순)-->
	<select id="readMyReview" resultType="Post">
		select p.users_id, title, p.modified_time, p.post_id, u.nickname
		from post p
        join users u on p.users_id = u.users_id
		where p.users_id = 8 
		and p.post_type_id = 10
		order by p.modified_time desc
	</select>
	
	<!-- 내 여행후기 전체 불러오기 (좋아요순)-->
	<select id="readMyReviewByGood" resultType="Post">
		 select p.users_id, title, p.modified_time, p.post_id, u.nickname
		from post p
        join users u on p.users_id = u.users_id
		where p.users_id = 8 
		and p.post_type_id = 10
		order by good desc
	</select>
	
	<!-- 나를 찜한 유저 수 -->
	<select id="countLike" resultType="Integer">
		select count(*) 
		from favorite_users fu
		where fu.interested_user_id = 8	
	</select>
	
	<!-- 여행후기 good  갯수 -->
	<select id="countReviewGood" resultType="Integer">
		select count(*)
		from post
		where post_type)id = #{postTypeId}	
	</select>
	
	<!-- 내여행일기 개수 -->
	<select id="countMyReveiw" resultType="Integer">
	   	select count(*) as post_count
        from post
        where post_type_id = 10 
        and users_id = 8
    </select>

	
	

</mapper>