<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.audiro.repository.TravelPlanDao">

<insert id="insertTravelPlan" 
	parameterType="TravelPlan"
	keyProperty="plan.travelPlanId" 
	keyColumn="travel_plan_id"
	useGeneratedKeys="true">
	insert into travel_plan (users_id, title, start_date, duration, end_date)
	values (#{plan.usersId}, #{plan.title}, #{plan.startDate}, #{plan.duration}, #{plan.endDate})
</insert>

<!--  detailed_plan 테이블에 데이터 삽입 -->
    <insert id="insertDetailedPlan" parameterType="java.util.List">
        <foreach collection="list" item="detailedPlan" separator=";">
            insert into detailed_plan (travel_plan_id, destination_id, day, start_time, end_time)
            values (#{detailedPlan.travelPlanId}, #{detailedPlan.destinationId}, #{detailedPlan.day}, #{detailedPlan.startTime}, #{detailedPlan.endTime})
        </foreach>
    </insert>


</mapper>
